{{> head}}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Aurora</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi commodi cum cumque, distinctio
            exercitationem fugit hic id illo impedit incidunt iure maiores nam nulla pariatur quas qui quis
            repudiandae.</p>
    </div>


    <div class="col-4">
        <img src="assets/img/aurora.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}
